<pslshare-appuntamento
  [idSilLavRiferimentoAdesioneDomanda]="idSilLavRiferimentoAdesioneDomanda"
  (confermato)="onConfermato()"
  [isOperatore]="true"
  [appuntamentoOld]="appuntamentoOld"
  [idUtente]="idUtente"
  [codAmbito]="codAmbito"
  [msgSposta]="msgSposta">
</pslshare-appuntamento>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3">
    <div>
      <button class="btn btn-outline-primary btn-lg" (click)="onIndietro()">INDIETRO</button>
    </div>
  </div>
</div>
