<h4 class="border-n">Dati anagrafici
  <div class="popup" onclick="myFunction()">
    <span class="fas fa-question-circle"><span class="sr-only">Informazioni</span></span>
    <div class="popuptext" [class.down]="popdown" id="myPopup" [innerHTML]="helpMessage | escapeHtml"></div>
  </div>
</h4>

<div *ngIf="!sap; else pagina">
  <p>Load data...</p>
</div>
<ng-template #pagina>
    <p><span class="ob">*</span><span class="small">obbligatorio</span></p>
    <pslshare-dati-anagrafici-display
      [sap]="sap">
    </pslshare-dati-anagrafici-display>

    <pslshare-indirizzo [capVisible]="true" [indirizzoRequired] = "true"
     [name]="'residenza'"
        [indirizzo]="sap.residenza"
        [mayUpdate]="!forceReadOnlyResidenza && !readOnly"
        (indirizzoEditState)="residenzaEditState($event)"
        (indirizzoChanged)="residenzaChanged($event)">
    </pslshare-indirizzo>

    <pslshare-indirizzo [capVisible]="true" [indirizzoRequired] = "true"
     [name]="'domicilio'"
        [indirizzo]="sap.domicilio"
        [mayUpdate]="!readOnly"
        (indirizzoEditState)="domicilioEditState($event)"
        (indirizzoChanged)="domicilioChanged($event)">
    </pslshare-indirizzo>

    <pslshare-recapiti
        [name]="'recapiti'"
        [recapiti]="sap.recapito"
        [mayUpdate]="!readOnly"
        (recapitiEditState)="recapitiEditState($event)"
        (recapitiChanged)="recapitiChanged($event)">
    </pslshare-recapiti>


    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3">
        <div>
          <button type="button"
            class="btn btn-outline-primary btn-lg"
            (click)="onIndietro()">INDIETRO
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3 text-right">
        <div>
          <button type="button"
            class="btn btn-primary btn-lg"
            [disabled]="salvaDisabled ||
            flagResidenzaChanging || flagDomicilioChanging || flagRecapitiChanging "
            (click)="onSalva()">SALVA
          </button>
        </div>
      </div>
    </div>
    <div class="text-danger" [innerHTML]="messaggioErroreDati | escapeHtml"></div>
</ng-template>
