<div class="alert alert-info" role="alert" *ngIf="messaggioUtente" [innerHTML]="messaggioUtente | escapeHtml"></div>

<div class="row mt-3" *ngIf="creareNuovaSAP; else riepilogo">
  <div class="col-4">
    <button class="btn btn-primary btn-lg" (click)="onNuovaSap()">NUOVO FASCICOLO</button>
    <br><br><br>
  </div>
</div>

<ng-template #riepilogo>

<div class="row mt-3" *ngIf="loading === 0">
  <div class="col-sm-12 col-md-12 col-lg-4">
    <button class="btn btn-primary btn-lg" (click)="onGestionePrivacyEMinori()">GESTIONE PRIVACY e MINORI</button>
  </div>
</div>

<ng-template [ngIf]="hasSAP">
  <h4 class="border-n mt-5">Il tuo fascicolo</h4>
  <pslfcwcl-scheda-fc [idUtente]="idUtente" (loadedData)="decreaseLoading()"></pslfcwcl-scheda-fc>
</ng-template>

<ng-template [ngIf]="hasMinori" ngbPanelTitle>
  <h4 class="mt-40 mb-5">Fascicolo per conto di</h4>
</ng-template>
<ngb-accordion [closeOthers]="true" *ngIf="hasMinori" [destroyOnHide]="false" #accordionMinori>
  <ngb-panel id="minore-{{ minore.tutelato.id_utente }}" *ngFor="let minore of minori">
    <ng-template ngbPanelTitle>
      <h5>{{ minore.tutelato.nome }} {{ minore.tutelato.cognome }}</h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="grey1">
        <pslfcwcl-scheda-fc [idUtente]="minore.tutelato.id_utente" [utenteACarico]="minore" [idTutore]="idUtente"
          (loadedData)="decreaseLoading()"></pslfcwcl-scheda-fc>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</ng-template>
