/*
    -------------------------
    foglio di stile
    configurazione calendario
    dati duplicazione
    -------------------------
*/
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

select ~ label, input[type="text"] ~ label {
  padding-left: 7px;
}

.group {
  margin-top: 0px;
}

p.ente {
    margin-top: 10px;
    margin-bottom: 10px;
}

button[disabled].fas.fa-chevron-left, button:disabled.fas.fa-chevron-left {
  color: #6c757d !important;
}
