.basso {
  position: absolute;
  bottom: 0;
}

button hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

button hr.lineblue{
  color: #004076;
  background-color: #004076;
  border-bottom: #004076;
}

button hr.linewhite{
  color: white;
  background-color: white;
  border-bottom: white;
}

.lati {
  padding-left: 20px;
  padding-right: 20px
}

.paragrafo {
  margin-bottom: 1rem;
  line-height: inherit;
}

.action-container {
  height: 73px;
}
